body{
    background-color: aqua;
}
 

#added-elements{
    display: flex;
    flex-direction: column;
}

.app{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#insideApp{
    background-color: white;
    border-radius: 10px;
}

#flexmidddle{
    display: flex;
    flex-direction:column;
    justify-content: center;
}